.navBarWrapper{
  height: 60px;
  width: 100%;
  background-color: #EEF1F2;
  border-bottom: 1px solid #D0D8DB;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: #607680;
}

.navBarInnards{
  height:100%;
  margin: 0 30px;
  display: flex;
  align-items: center;
  min-width: 960px;
}

.navBarInnards h1{
  padding-left: 20px;
}

.vimeoLogo{
  width:100px;
  margin-bottom: 10px;
}

.arrows{
  position: relative;
  margin-top:1px;
}

.searchBar{
  margin: 0 5px 0 0;
  width: 210px;
  height: 30px;
  cursor: pointer;
  padding: 0 0 0 10px;
  color: #7b8084;
  position: absolute;
  right: 179px;
}

.magGlass{
  width: 14px;
  position: absolute;
  right: 197px;
}

.profilePic{
  height: 32px;
  width: 32px;
  background:gray;
  border-radius: 100%;
  position: absolute;
  right: 134px;
}

.cloud{
  margin-right: 6px;
}

.uploadButton{
  background-color: #657987;
  line-height: 32px;
  border-radius: .1875rem;
  color: #fff;
  cursor: pointer;
  padding: 0 10px;
  position: absolute;
  right: 30px;
}
