.navBarWrapper{
  height: 60px;
  width: 100%;
  background-color: #EEF1F2;
  border-bottom: 1px solid #D0D8DB;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: #607680;
}

.navBarInnards{
  height:100%;
  margin: 0 30px;
  display: flex;
  align-items: center;
  min-width: 960px;
}

.navBarInnards h1{
  padding-left: 20px;
}

.vimeoLogo{
  width:100px;
  margin-bottom: 10px;
}

.arrows{
  position: relative;
  margin-top:1px;
}

.searchBar{
  margin: 0 5px 0 0;
  width: 210px;
  height: 30px;
  cursor: pointer;
  padding: 0 0 0 10px;
  color: #7b8084;
  position: absolute;
  right: 179px;
}

.magGlass{
  width: 14px;
  position: absolute;
  right: 197px;
}

.profilePic{
  height: 32px;
  width: 32px;
  background:gray;
  border-radius: 100%;
  position: absolute;
  right: 134px;
}

.cloud{
  margin-right: 6px;
}

.uploadButton{
  background-color: #657987;
  line-height: 32px;
  border-radius: .1875rem;
  color: #fff;
  cursor: pointer;
  padding: 0 10px;
  position: absolute;
  right: 30px;
}

/*Edit video css*/

.editVideoWrapper{
  display: flex;
  justify-content: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

 .editVideo{
   width: 800px;
   height:290px;
   margin-top: 40px;
   padding: 0 30px;
   min-width: 40rem;
   max-width: 72.5rem;
 }

 .topVideosWrapper{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 16px;
 }

 .videosTitle{
   font-size: 1.5rem;
   font-weight: 700;
 }

 .editVideoSearch{

   box-shadow: #D0D8D8 0 0 0 1px inset;
   font-size: .875rem;
   border-radius: .3125rem;
   padding: .1875rem;
   padding-left:5px;
   padding-top: .625rem;
   padding-bottom: .625rem;
 }

 .magGlassEditVideos{
   width: 14px;
   position: relative;
   right: -850px;
   top: -276px;
 }

 .editVideoTableWrapper{
   display: flex;
   flex-direction: row;
   border-bottom: solid 1px #D0D8DB;
   font-size: .875rem;
 }

 .editVideoTableWrapper span{
   font-weight: 400;
 }

 .titleEdit{
   width:190px;
   padding: 15px 10px 10px 10px;
 }

 .addedEdit{
   width: 119px;
   padding: 15px 10px 10px 10px;
 }

 .durationEdit{
   width: 94px;
   padding: 15px 40px 10px 40px;
 }

 .privacyEdit{
   width: 159px;
   padding: 15px 10px 10px 10px;
 }

 .editVideoLowerWrapper{
   display: flex;
   flex-direction: row;
   align-items: center;
   border-bottom: solid 1px #D0D8DB;
   font-size: .875rem;
 }

 .thumbnailDimensions{
   height: 50px;
   width: 88.875px;
   background-color: gray;
   margin: 15px 5px 15px 10px;
 }

 .videoName{
   width:86px;
   padding: 15px 10px 10px 10px;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
 }
